body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

#home {
    height: 100vh;
}

h1 {
    color: #17a2b8;
}

.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

input,
textarea {
    background-color: transparent !important;
    color: #fff !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(182, 182, 182) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logoutBtn:hover {
    color: #fff !important;
}

#smartlogin {
    text-decoration: none;
}